<nav class="navbar navbar-expand-lg bg-grad1">
    <div class="logo">
      <a   href="/home"><img src="https://thumbs.dreamstime.com/b/bank-building-icon-isolated-black-background-bank-building-icon-isolated-black-background-simple-vector-logo-161293296.jpg" class="image" alt="logo"></a>
  
  
    </div>
  
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" >
            <a class="nav-link" style="font-size: large; " routerLink="/home" href="#">Home</a>
            <a class="nav-link"  style="font-size: large;" routerLink="/about" href="#">About Us</a>
            
            
            <a class="nav-link" style="font-size: large;" routerLink="/login" href="#">Login</a>
            <a class="nav-link" style="font-size: large;" routerLink="/signUp" href="#">Sign Up</a>
            <!-- <a class="nav-link" routerLink="/book" href="#">Register</a> -->
            <!-- <a class="nav-link" href="#">Pricing</a> -->
            <!-- <a class="nav-link disabled">Disabled</a> -->
          </div>
        </div>
      </div>
    </nav>
  
    
  
