
<div class="container">
<h3>Statements</h3>
<div>
    
</div>

<div class="input-group">
    <span class="input-group-text">Account Id</span>
    <input type="text"  placeholder="Enter your Account Id" [(ngModel)]=statement.accountId aria-label="First name"
        class="form-control">

</div>




<br>
<div class="input-group">
    <span class="input-group-text">From Date</span>
    <input type="date"   aria-label="" [(ngModel)]=statement.from_date
        class="form-control">

</div>

<br>
<div class="input-group">
    <span class="input-group-text">To Date</span>
    <input type="date"   aria-label="" [(ngModel)]=statement.to_date
        class="form-control">

</div>

<br>
<button class="btn btn-primary" (click)="getStatements()">Submit</button>
</div>

<br>

<div class="container">
<table *ngIf="alert" class="table table-dark table-striped-columns">

  <thead>
      <tr>
          <th>refNo</th>
          <th>from_date</th>
          <th>to_date</th>
          <th>narration</th>
          <th>valueDate</th>
          <th>withdrawal</th>
          <th>deposit</th>
          <th>closingBalance</th>
          <th>accountId</th>


      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let statement of statements">
          <td>{{statement.refNo}}</td>
          <td>{{statement.from_date | date}}</td>
          <td>{{statement.to_date | date}}</td>
          <td>{{statement.narration }}</td>
          <td>{{statement.valueDate | date}}</td>
          <td>{{statement.withdrawal | currency:'INR'}}</td>
          <td>{{statement.deposit | currency:'INR'}}</td>
          <td>{{statement.closingBalance | currency:'INR'}}</td>
          <td>{{statement.accountId}}</td>
          


      </tr>
  </tbody>

</table>
</div>






